<h1>Welcome to the polygon of love</h1>

<p> This is a funky little tool developed by my homie Jade Jossen for measuring the strength of attributes in your relationship</p>

<h4> <%= link_to "Get Started", polygons_url %></h4>

